html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(137deg, #eb6282, rgb(158, 150, 75), #509eb6); 
    background-size: 800% 800%;
    background-repeat: no-repeat;
    animation: AnimationName 9s ease infinite;
}

#main-title {
    font-size: 1.9rem;
    color: white;
    font-weight: 600;
}

#main-contents {
    text-align: center;
}

#sub-desc {
    color: rgb(243, 240, 240);
    font-size: 1.1rem;
    font-weight: 530;
    padding-top: 1vh;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}